a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/* font-family: 'Fredericka the Great', ;
font-family: 'Cormorant Garamond', ; */

/* Globals */

html {
    font-size: 62.5%;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

body {
    font-family: Cormorant Garamond;
    font-size: 2rem;
    color: #fcfcfc;
}

i {
    color: white;
}

a {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

a:hover {
    transform: scale(1.1);
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

/* Header hero  */

header {
    height: 100vh;
    min-height: 600px;
    background-image: url(assets/image-1.jpg);
    background-size: cover;
}

.heading {
    position: relative;
}

h1 {
    color: #fcfcfc;
    font-family: Fredericka the Great;
    font-size: 9rem; 
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    left: 55%;
    margin-top: 10%;
    line-height: 117px;
    
}

h2 {
    font-family: Fredericka the Great;  
}

h5 {
     color: #fcfcfc;
     text-transform: uppercase;
     font-size: 3rem;
}

i.fa-bars {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 3rem;
    padding: 5px;
    visibility: hidden;  
}

.fas {
    margin-bottom: 1.5%;
}

.nav-top a {
    color: #fcfcfc;
    float: left;
    padding: 2%;
}

h2 {
    font-family: Fredericka the Great;
    text-transform: uppercase;
}

.social {
    position: absolute;
    left: 97%;
    bottom: 7%;
}

.social i {
    margin: 5px;
    display: block;
    /* position: absolute; */
    text-align: right;
}

span {
    display: block;
}



/* Suzie's Story Section */

.suzies-story {
    background-color: #152d20;
    padding: 7% 0;
}

.suzies-story img {
    width: 25%;
    max-width: 100%;
    float: left;
}

.suzies-story-text {
    width: 71%;
    float: left;
    margin-left: 4%;
}

.suzies-story h2 {
    color: #fcfcfc;
    font-size: 5.1rem;
}

.suzies-story-text p {
    margin: 4% 0%;
}

.read-more1 {
    border: 1px solid black;
    background-color: white;
    line-height: 29px;
    padding: 8px;
    margin-top: 3px, 10px;
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
}

/* Freinds Section */

.friends {
    clear: both;
    background-color: #c3d3cb;
    text-align: center;
    padding: 5% 0 5% 0;
}

.friends-heading {
    margin: 0 auto 5%;
}

.friends-heading h2 {
    font-size: 4.9rem;
}

.friends img {
    width: 29%;
    max-width: 100%;
    margin: 1%;
}

/* Other links section */

.other-links {
    background-color: #152d20;
    text-align: center;
}

.link1, .link2, .link3 {
    width: calc(100%/3 - 8%);
    float: left;
    margin: 4%;
}

.link1 i, .link2 i, .link3 i {
    margin-bottom: 12%;
}


/* Blog squre section */

.blog-square {
    clear: both;
}

.square1, .square2, .square3, .square4 {
    width: 50%;
    float: left;
    margin: 0 auto;
   
}

.square2 img, .square3 img {
    max-width: 100%;
}

.square1, .square4 {
    text-align: left;
    padding: 7.5%;
}

.square1 p {
    margin-bottom: 3%;
    color: black;
}

.square1 h2, .square4 h2 {
    color: #152d20;
    margin-bottom: 3%;
    font-size: 2.9rem;
}

.square4 p {
    color: black;
    margin-bottom: 3%;
}

.read-more2 {
    border: 1px solid black;
    background-color: #152d20;
    padding: 8px;
    margin-top: 3%;
    color: white;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 29px;
}

/* Footer section */

footer {
    clear: both;
    background-color: #152d20;
}

h5 {
    font-size: 2.5rem;
    margin-bottom: 3%;
}

footer .wrapper {
    padding: 5% 0%;
    
}

.bottom-nav li {
    padding: 2.5%;
}

.bottom-nav li a {
    color: white;
}

.footer1, .footer2, .footer3 {
    float: left;
    width: 100%;
    margin: 0 auto;
}

.footer1, .footer3 {
    width: 25%;
}

.footer3 {
    text-align: right;
}

.footer2 {
    width: 50%;
    text-align: center;
}

.footer2 form {
    display: inline-block;
    margin-top: 4%;
}

.footer2 input {
    font-size: 1rem;
    border: none;
    padding: 12px;
}

.footer2 button {
    background: black;
    color: white;
    font-size: 1rem;
    padding: 12px;
    border: none;
}

.copyright {
    clear: both;
    background-color: #000000;
    text-align: center;
    padding: .5%;
}

@media(max-width: 1208px){
    .square1, .square4 {
        padding-top: 3.5%;
    }
}

@media(max-width: 1093px){

    header {
        background-size: cover;
        background-position: 35% 100%;

    }

    .square1, .square4 {
        padding: 3%;
    }

    h5 {
        font-size: 1.7rem;
    }

    footer a, footer p {
        font-size: 1.6rem;
    }

    .read-more2 {
        padding: 5px;
        font-size: 1.5rem;
        line-height: 20px;
    }

}

@media(max-width: 889px){

    h1 {
        text-align: left;
        font-size: 7.5rem;
        line-height: 75px;
        left: 55%;
    }

    .square1, .square4{
        padding: 1.5%;
    }

    .read-more2 {
        padding: 4px;
        font-size: 1.3rem;
    }

    .footer1 {
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    footer .wrapper {
        padding: 2% 0;
        text-align: center;
    }

    ul .bottom-nav {
        padding: 2% 0;
    }

    .footer1 li {
        display: inline-block;
        font-size: 2rem;
        margin: 2%;  
    }

    .footer2 {
        text-align: left;
        width: 50%;
    }

    .footer3 {
        width: 50%;
    }
}

@media(max-width: 822px){

     h1 {
        font-size: 7.7rem;
        text-align: right;
        line-height: 70px;
    }

    .social i {
        left: 75%;
        bottom: 7%;
    }

    .suzies-story h2, .friends h2 {
        font-size: 4rem;
    }

    .link1, .link2, .link3 {
        font-size: 1rem;
    }

    .blog-square{
        background-color: #c3d3cb;
    }

    .square1, .square4 {
        background-color: white;
        text-align: center;
    }

    .square1, .square2, .square3, .square4 {
        float: none;
        width: 50%;
    }

}

@media(max-width: 761px) {

    .nav-top a {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 7rem;
        left: 45%;
    }

    .suzies-story {
        text-align: center;
    }

    .suzies-story img {
        float: none;
        width: 60%;
    }

    .suzies-story h2{
        font-size: 4rem;
        margin-top: 5%;
    }

    .suzies-story-text {
        width: 100%;
    }

    .square1, .square2, .square3, .square4 {
        width: 75%;
    }

    .square1, .square4 {
        padding: 4% 3%;
    }

    .read-more2 {
    padding: 6px;
    margin-top: 3%;
    color: white;
    font-size: 1.5rem;
    line-height: 29px;
    }

    footer ul a {
        font-size: 1.5rem;
    }

    .footer2 {
        text-align: center;
    }

    .footer1, .footer2, .footer3 {
        float: none;
        width: 100%;
    }

    .footer2 h5{
        margin-top: 2%;
        font-size: 2rem;
    }

    .footer3 h5 {
        font-size: 2rem;
        margin: 5% 0 2% 0;
    }

    .footer2 p{
        font-size: 1.6rem;
    }

    .footer2 input {
        width: 100%;
    }

    .footer2 button {
        display: inline-block;
        width: 100%;
    }

    .footer3 {
        text-align: center;
    }

    .footer3 p {
        font-size: 1.5rem;
    }

    .copyright p {
        font-size: 1.2rem;
        padding: 2%;
    }
}

@media(max-width: 595px){
    h1 {
        font-size: 5.5rem;
        line-height: normal;
        left: 50%;
    }

}

@media(max-width: 500px){
    .wrapper {
        width: 95%;
    }

    h1 {
        font-size: 3.5rem;
        text-align: left;
        left: 1%;
    }

    .nav-top {
        visibility: hidden;
    }

    i.fa-bars {
            visibility: visible;
        }

    .social i {
        display: none;
    }

    /* Suzie's story */

    .suzies-story img {
        float: none;
        width: 90%;
    }

    .suzies-story h2{
        font-size: 3rem;
        margin-top: 5%;
    }

    .suzies-story-text {
        width: 100%;
    }

    .read-more1 {
        text-align: center;
    }

    .friends-heading h2 {
        font-size: 2.8rem;
    }

    .friends-heading {
        width: 100%;
    }

    .friends-gallery img {
        width: 45%;
    }

    .friends-gallery img:nth-child(3) {
        display: none;
    }

    .link1, .link2, .link3 {
        float: none;
        margin: 0 auto;
        padding: 5%;
    }

    .link1 a, .link2 a, .link3 a {
        text-align: center;
        margin: 0 auto;
    }

    .link1 h5, .link2 h5, .link3 h5 {
        font-size: 2.5rem;
    }

    .link1 i, .link2 i, .link3 i {
        font-size: 5rem;
    }

    /* blog square */

    .square1, .square2, .square3, .square4 {
        width: 100%;
    }

    .square1, .square2 {
        float: right;
        width: 100%;
    }

    .square1, .square4 {
        text-align: center;
    }

    .square1 h2, .square4 h2 {
        font-size: 2rem;
        margin: 4%;;
    }

    .footer1 li {
        font-size: 1.5rem;
        margin: 4%;
    }

    @media(max-width: 480px){
        .bottom-nav li {
            margin: 2.5%;
        }
    }
   
}
